.allProjects {
  display: grid;
  grid-template-columns: 220px 220px 220px;
  grid-gap: 40px;
  justify-content: center;
}

.project {
  border-radius: 15px;
}

.projects h1 {
  padding-bottom: 15px;
}

.project a {
  text-decoration: none;
  color: black;
  padding: 10px 10px;
}

.project img {
  width: 210px;
  height: 283px;
  border-radius: 15px;
}


.project::before {
  content: attr(data-title);
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.3s;
  color: rgb(12, 12, 12);
  font-size: 17px;
  font-weight: bold;
}

.project:hover::before {
  opacity: 1;
}

.project {
  position: relative;
  overflow: hidden;
}

.project img {
  width: 100%;
  transition: 0.3s;
}

.project:hover img {
  opacity: 0.2;
}

.btn {
  width: 130px;
  height: 40px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: #171717;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all 0.4s;
  display: block;
  margin: 0 auto;
  margin-top: 15px;

}

.btn:hover {
  border-radius: 5px;
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px #f85959, 0 15px 0 -4px #39a2db,
    0 16px 10px -3px #39a2db;
}

.btn:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px #f85959, 0 8px 0 -4px #39a2db,
    0 12px 10px -3px #39a2db;
}

@media (max-width: 855px) {
  .allProjects {
    grid-template-columns: auto auto;
  }

}

@media (max-width: 558px) {
  .allProjects {
    grid-template-columns: auto;
  }

  .project img {
    width: 260px;
    height: 272px;
  }
}